"ItemRequiremets"
{
	"skip completed"	"1"	// (bool) Скрывать ли выполненные требования?
	"skip admin flag"	""	// Пропускает требования вещи для админов с этим флагом, "" - что бы убрать фильт флага (то-есть админы тоже должны выполнить требования)
	
	"chat_ends"		// Category id
	{
		"end1"		// Item id
		{
			"To Buy"		// Требования к покупке
			{
				"Buyed" 	// Должны быть куплены предметы:
				{
//					"OnlyToVIPGroups"		""						// Требования будут доступны только для этих вип груп. Перечислятьчерез ';'. 'any' - что бы обозначить все группы
//					"OnlyToAdminFlag"		"z"						// Требования будут доступны только для игроков с этими флагами.
//					"Credits"				"5000"					// Количество кредитов, Знаки: '>' - нужно иметь больше, чем эта сумма
//																	//		  					   '>=' - нужно иметь столько же и больше, как и эта сумма
//																	//		  					   '<' - нужно иметь меньше, чем эта сумма
//																	//		  					   '<=' - нужно иметь столько же и меньше, как и эта сумма
//																	//		  					   'без знака' - нужно иметь столько же, как и эта сумма
//					
//					"chat_ends"				"end1"	
//					"mining_farm"			"mining_farm:>20"		// Предмет типа Item_Finite, можно указать количество через "item_id:count"
																	// Знаки: '>' - нужно иметь больше, чем эта сумма
																	//		  '>=' - нужно иметь столько же и больше, как и эта сумма
																	//		  '<' - нужно иметь меньше, чем эта сумма
																	//		  '<=' - нужно иметь столько же и меньше, как и эта сумма
																	//		  'без знака' - нужно иметь столько же, как и эта сумма
																	
					"chat_ends"				"end1"					// "category id" 	"item id"
				}													
				"Equipped" 	// Должны быть одеты предметы:				Предметы типа Item_Finite НЕДОСТУПНЫ! и будет пропускатся
				{								
					// 	И так далее перечисление...
				}   										
				    										
				// Режимы реверса, удачи! 	(все требования станут против игрока, "Нужно НЕ иметь это...")
				"No Buyed" 	// Не должны быть куплены предметы:
				{   
				}   
				
				"No Equipped" // Не должны быть одеты предметы:
				{	
				}
			}
			
			"To Sell"		// Требования к продаже
			{
				"Buyed" 	
				{
				}
				
				"Equipped" 
				{	
				}
				
				"No Buyed" 	
				{
				}
				
				"No Equipped"
				{	
				}
			}
			
			"To Toggle On"	// Требования к включению (что бы включить, одеть)
			{
			}
			
			"To Toggle Off"	// Требования к выключению (что бы включить, одеть)
			{
			}
			
			"To Transfer"	// Требования к передачи
			{
			}
		}
		// 	И так далее перечисление...
	}
// 	И так далее перечисление...
}